# lower bound set to latest known working version
# may (likely) works with older versions as well
dwave-ocean-sdk>=7.1.0
osmnx>=1.9.1
matplotlib~=3.0
mapclassify>=2.6.0
folium==0.15.1
scipy>=1.10.1,<2
dash[diskcache]==2.15.0
aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
anaconda-client==1.12.0
anaconda-navigator==2.4.3
annotated-types==0.7.0
anyio
appdirs==1.4.4
argon2-cffi
attrs
Authlib==1.3.2
autograd==1.7.0
autoray==0.7.0
Babel
backcall
black==24.10.0
botocore
cachetools==5.5.0
certifi
cffi
charset-normalizer
click
cloudpickle
cycler
debugpy
decorator
distributed
docutils
dwave-cloud-client==0.13.1
dwave-gate==0.3.2
dwave-hybrid==0.6.12
entrypoints
et-xmlfile==1.1.0
fasteners==0.19
filelock
Flask
gensim
holoviews
huggingface-hub
idna
ipykernel
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyterlab
kiwisolver
lazy-object-proxy
matplotlib==3.7.2
matplotlib-inline
mccabe==0.6.1
msgpack
multidict
nbclient
nbconvert
nbformat
notebook
numba
numpy==1.25.2
pandas==1.5.3
Pillow==9.4.0
prometheus-client
prompt-toolkit
psutil
pydantic==2.9.2
pygments
pylint==2.7.4
PySocks
pytest
python-dateutil
pytz
requests
scipy==1.10.1
seaborn
six
SQLAlchemy
terminado
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
widgetsnbextension
wrapt==1.12.1
yarl
zipp
zope.interface
